<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">amPerez</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i></a></li>
              <li><a class="dropdown-item" href="#"><i class="fas fa-shopping-cart"></i></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">suport</a></li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</nav>



<div style="text-align:end;padding: 300px;">

  <i style="font-size:56px;margin-right: 20px;"class="fas fa-th"></i>
  <i style="font-size:28px;margin-right: 20px" class="fas fa-list"></i> 

</div>

<hr>
<div style="width: 60%;margin: 0 auto;">
<div class="card-group">
  <div class="row">
  @for  (p of products; track p) {

  <div class="card col-md-12 mb-3">
    <img [src]="p.img" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{p.name}}</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
}
  </div>
  </div>
</div>